<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construido!</h1>
        </div>
        <div class="row">     
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que envia correos utilizando la api 
                    de Sendgrid.</p>
                <a target="_blank" href="http://127.0.0.1:5000" class="green">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicacion para gestionar clientes.</p>
                <a class="green" href="{{ url_for('static', filename='libre-clientes.exe') }}" >Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicacion para gestionar mis tareas.</p>
                <a class="green" href="{{ url_for('static', filename='db.exe') }}" >Link aqui</a>
            </div>
        </div>
    </div>
</div>