<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasion aplicaciones 
                    y sitios web para personas</h1>
                <p>Me encuentro aprendiendo nuevas tecnologias de manera constante. Esta pagina web lo 
                    he construido con html, css, Python y Flask</p>
            </div>      
            <div class="righ padded">
                <h1>Podemos conversar lo que deseas</h1>
                <p>Solo enviame un correo <a class="green" href="#contacto">
                    pinchanchi aqui</a></p>
            </div>
        </div>
    </div>
</div>